html, body {
	background-color: black;
}

* {
	font-family: monospace;
}

canvas {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

@font-face { 
	font-family: fixedsys; 
	src: url('fixedsys.ttf'); 
}